// customize some Bootstrap variables
//$primary: darken(#428bca, 20%);



// user menu colors:
$user-menu-bg: #04222f;
$text-color-menu: #007bff;
$username-color: orange;


.usermenu{
  margin:0;
  background-color: $user-menu-bg;
  color: $text-color-menu;
  float:left;
  min-width: 250px;
  width:100%;
  min-height: 95vh;
  padding:20px;
  padding-top:50px;
}

.menu_list{
  color: $text-color-menu;

}
.col-md-auto {
padding:0 !important;

}

.usermenu h1{
  color:$username-color !important;
  text-align: center;

}
.usermenu a:hover{
  color: white;
  text-decoration: none;
}

.container{

 margin:0;


}
#content{

}

#accordion .current a{
  color: red;
}
.clear{
  clear:both;
}

#content .col{
  padding: 0 ;
}
#content .btn{
  margin:20px;
}

h2{
  padding:20px;
}

.userdata{
  padding:25px;
}


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";