// customize some Bootstrap variables
//$primary: darken(#428bca, 20%);



// user menu colors:
$user-menu-bg: #04222f;
$text-color-menu: #007bff;
$username-color: orange;

.usermenu{
  background-color: $user-menu-bg;
  color: $text-color-menu;
  float:left;
  width:300px;
  height:1000px;
  padding:20px;
  padding-top:50px;
}

.menu_list{
  color: $text-color-menu;

}

.usermenu h1{
  color:$username-color !important;
  text-align: center;
}

.container{
  float:left;
  padding:50px;

}

.accordion .current a{
  color: red;
}



// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";